<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <style>
        html {
            margin: 0px;
            padding: 0px;
        }

        body {
            background: #FFFFFF;
            margin: 0px;
            padding: 0px;
        }

        .header-image {
            background: url(../../Assets/Images/Login.jpeg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 400px;
        }

        .blog-title {
            background-color: transparent;
            text-align: center;
            border-top: 1px solid red;
        }

            .blog-title h1 {
                background-color: white;
                margin-top: -20px;
                display: inline-table;
                padding: 10px;
                border-radius: 10px;
            }

        .text {
            text-align: justify;
        }

        .comments {
            text-align: center;
        }

        .footer {
            border-top: 1px solid black;
            margin-top: 15px;
        }

        .footer-text {
            padding: 5px;
        }

        h1 {
            font-family: 'Gibson', sans-serif, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>

    <div class="header-image"></div>
    <div class="container">
        <div class="row">

            <div class="blog-title"><h1>Libertin the blog (@ViewBag.ID)</h1></div>

            <h1>Post jedan</h1>

            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est posuere, rhoncus sem a, bibendum mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum vel sapien dapibus, vulputate lectus nec, fermentum lacus. Duis sodales massa vitae elit consequat molestie commodo in purus. Phasellus nec consequat eros, eu tempus est. Quisque finibus nibh at urna tincidunt, sit amet pretium turpis ullamcorper. Praesent felis ligula, luctus sit amet interdum fringilla, cursus eu nunc.</p>

                <p>Pellentesque sit amet velit in nibh efficitur luctus. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin egestas velit quis turpis ullamcorper mattis vel quis dui. Nunc a est vitae velit laoreet maximus id quis lacus. Maecenas elit ex, suscipit nec vehicula aliquam, euismod non enim. Nulla facilisi. Nulla facilisi. In sollicitudin, lectus vel feugiat molestie, lectus nisl pulvinar arcu, eu finibus lacus dui sit amet lectus. Praesent id vulputate ipsum. Duis bibendum est tellus, sit amet aliquam dolor hendrerit sit amet. Duis suscipit vulputate elementum. Phasellus fringilla tortor ac nisl convallis egestas.</p>

                <p>Duis pulvinar ante arcu, eu faucibus nisi volutpat sit amet. Aliquam erat volutpat. Nam nec velit ac ligula gravida vehicula sit amet at mauris. Suspendisse molestie pellentesque est in maximus. Ut nec faucibus sapien, maximus varius tortor. Etiam bibendum nisi eu dapibus molestie. Nullam eget tempor justo, eu malesuada est. Aenean non gravida ligula, ut facilisis eros. Fusce sit amet vestibulum ex. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

                <p>Vivamus efficitur nisl eget mi porttitor, et tincidunt nisi molestie. Phasellus eget ullamcorper diam, quis dictum tellus. Nullam lacinia felis id nunc dapibus, at condimentum diam ornare. Cras sed urna ac nulla tincidunt lacinia et imperdiet sapien. Praesent tortor orci, imperdiet ut fermentum ut, ornare quis est. Vivamus non est et sem lacinia finibus sed ut nibh. Sed consequat porttitor elit. Curabitur rutrum dui orci, in sollicitudin magna bibendum id. Maecenas sollicitudin mattis nisi, nec tincidunt odio eleifend id. Nulla lacinia ac sem quis malesuada. Duis at nibh ac sapien volutpat commodo. Proin urna sapien, congue eu sem id, pretium elementum mi. Integer dignissim tincidunt tellus, condimentum aliquet risus mollis a. Donec mattis laoreet eros at cursus.</p>

                <p>Pellentesque sed lectus fermentum, sollicitudin lectus sit amet, hendrerit ligula. Quisque sed sagittis ligula. Nullam enim metus, commodo quis pharetra non, placerat et felis. Maecenas sit amet arcu efficitur, dapibus purus in, efficitur eros. Sed ut tincidunt nulla, eu ultrices leo. Pellentesque et ante ipsum. In tempus efficitur sem, nec porta nibh bibendum id.</p>
            </div>

            <div class="comments">
                <small>Komentari (34) - 16.03.2015.</small>
            </div>

            <h1>Post dva</h1>

            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est posuere, rhoncus sem a, bibendum mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum vel sapien dapibus, vulputate lectus nec, fermentum lacus. Duis sodales massa vitae elit consequat molestie commodo in purus. Phasellus nec consequat eros, eu tempus est. Quisque finibus nibh at urna tincidunt, sit amet pretium turpis ullamcorper. Praesent felis ligula, luctus sit amet interdum fringilla, cursus eu nunc.</p>

                <p>Pellentesque sit amet velit in nibh efficitur luctus. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin egestas velit quis turpis ullamcorper mattis vel quis dui. Nunc a est vitae velit laoreet maximus id quis lacus. Maecenas elit ex, suscipit nec vehicula aliquam, euismod non enim. Nulla facilisi. Nulla facilisi. In sollicitudin, lectus vel feugiat molestie, lectus nisl pulvinar arcu, eu finibus lacus dui sit amet lectus. Praesent id vulputate ipsum. Duis bibendum est tellus, sit amet aliquam dolor hendrerit sit amet. Duis suscipit vulputate elementum. Phasellus fringilla tortor ac nisl convallis egestas.</p>

                <p>Duis pulvinar ante arcu, eu faucibus nisi volutpat sit amet. Aliquam erat volutpat. Nam nec velit ac ligula gravida vehicula sit amet at mauris. Suspendisse molestie pellentesque est in maximus. Ut nec faucibus sapien, maximus varius tortor. Etiam bibendum nisi eu dapibus molestie. Nullam eget tempor justo, eu malesuada est. Aenean non gravida ligula, ut facilisis eros. Fusce sit amet vestibulum ex. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

                <p>Vivamus efficitur nisl eget mi porttitor, et tincidunt nisi molestie. Phasellus eget ullamcorper diam, quis dictum tellus. Nullam lacinia felis id nunc dapibus, at condimentum diam ornare. Cras sed urna ac nulla tincidunt lacinia et imperdiet sapien. Praesent tortor orci, imperdiet ut fermentum ut, ornare quis est. Vivamus non est et sem lacinia finibus sed ut nibh. Sed consequat porttitor elit. Curabitur rutrum dui orci, in sollicitudin magna bibendum id. Maecenas sollicitudin mattis nisi, nec tincidunt odio eleifend id. Nulla lacinia ac sem quis malesuada. Duis at nibh ac sapien volutpat commodo. Proin urna sapien, congue eu sem id, pretium elementum mi. Integer dignissim tincidunt tellus, condimentum aliquet risus mollis a. Donec mattis laoreet eros at cursus.</p>

                <p>Pellentesque sed lectus fermentum, sollicitudin lectus sit amet, hendrerit ligula. Quisque sed sagittis ligula. Nullam enim metus, commodo quis pharetra non, placerat et felis. Maecenas sit amet arcu efficitur, dapibus purus in, efficitur eros. Sed ut tincidunt nulla, eu ultrices leo. Pellentesque et ante ipsum. In tempus efficitur sem, nec porta nibh bibendum id.</p>
            </div>

            <div class="comments">
                <small>Komentari (60) - 01.03.2015.</small>
            </div>

            <h1>Post tri</h1>

            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget est posuere, rhoncus sem a, bibendum mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum vel sapien dapibus, vulputate lectus nec, fermentum lacus. Duis sodales massa vitae elit consequat molestie commodo in purus. Phasellus nec consequat eros, eu tempus est. Quisque finibus nibh at urna tincidunt, sit amet pretium turpis ullamcorper. Praesent felis ligula, luctus sit amet interdum fringilla, cursus eu nunc.</p>

                <p>Pellentesque sit amet velit in nibh efficitur luctus. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin egestas velit quis turpis ullamcorper mattis vel quis dui. Nunc a est vitae velit laoreet maximus id quis lacus. Maecenas elit ex, suscipit nec vehicula aliquam, euismod non enim. Nulla facilisi. Nulla facilisi. In sollicitudin, lectus vel feugiat molestie, lectus nisl pulvinar arcu, eu finibus lacus dui sit amet lectus. Praesent id vulputate ipsum. Duis bibendum est tellus, sit amet aliquam dolor hendrerit sit amet. Duis suscipit vulputate elementum. Phasellus fringilla tortor ac nisl convallis egestas.</p>

                <p>Duis pulvinar ante arcu, eu faucibus nisi volutpat sit amet. Aliquam erat volutpat. Nam nec velit ac ligula gravida vehicula sit amet at mauris. Suspendisse molestie pellentesque est in maximus. Ut nec faucibus sapien, maximus varius tortor. Etiam bibendum nisi eu dapibus molestie. Nullam eget tempor justo, eu malesuada est. Aenean non gravida ligula, ut facilisis eros. Fusce sit amet vestibulum ex. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

                <p>Vivamus efficitur nisl eget mi porttitor, et tincidunt nisi molestie. Phasellus eget ullamcorper diam, quis dictum tellus. Nullam lacinia felis id nunc dapibus, at condimentum diam ornare. Cras sed urna ac nulla tincidunt lacinia et imperdiet sapien. Praesent tortor orci, imperdiet ut fermentum ut, ornare quis est. Vivamus non est et sem lacinia finibus sed ut nibh. Sed consequat porttitor elit. Curabitur rutrum dui orci, in sollicitudin magna bibendum id. Maecenas sollicitudin mattis nisi, nec tincidunt odio eleifend id. Nulla lacinia ac sem quis malesuada. Duis at nibh ac sapien volutpat commodo. Proin urna sapien, congue eu sem id, pretium elementum mi. Integer dignissim tincidunt tellus, condimentum aliquet risus mollis a. Donec mattis laoreet eros at cursus.</p>

                <p>Pellentesque sed lectus fermentum, sollicitudin lectus sit amet, hendrerit ligula. Quisque sed sagittis ligula. Nullam enim metus, commodo quis pharetra non, placerat et felis. Maecenas sit amet arcu efficitur, dapibus purus in, efficitur eros. Sed ut tincidunt nulla, eu ultrices leo. Pellentesque et ante ipsum. In tempus efficitur sem, nec porta nibh bibendum id.</p>
            </div>

            <div class="comments">
                <small>Komentari (15) - 01.01.2015.</small>
            </div>

            <div class="footer">
                <div class="footer-text">
                    Footer
                </div>
            </div>
        </div>
    </div>
</body>
</html>