<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        li {
            display: inline-table;
            margin: 0px;
            padding: 5px;
        }

        .navbar {
            background: silver;
        }
    </style>

</head>
<body>

    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Ground/#Login">Login</a></li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>