<h1>Profilni dio</h1>

<p>
    Za predsjednika, odnosno predsjednicu, može glasovati oko 3,8 milijuna birača na ukupno 6350 biračkih mjesta, za Hrvatsku ih je određeno 6260, za inozemstvo 90.
</p>

<p>
    Osim u Hrvatskoj, izbori za predsjednika države provode se u još 50 država, što je pet manje u odnosu na prošle izbore. Biračka mjesta nisu određena u Libiji, Maleziji, Peruu, Siriji te na Novom Zelandu na kojemu su se, zbog vremenske razlike, birališta prva otvarala.
</p>

<p>
    Smanjen je i broj biračkih mjesta u inozemstvu, sa 250 na 90, a glasovati se u nedjelju može samo u sjedištima diplomatsko-konzularnih predstavništava Republike Hrvatske. Najviše je biračkih mjesta u Bosni i Hercegovini (15) te u Njemačkoj (13).
</p>

<p>
    Do nedjelje u 19 sati traje dvodnevna izbora šutnja za koje je u klasičnim medijima ili na internetu zabranjena svaka izborna promidža, kao i objavljivanje izbornih rezultata.
</p>

<p>
    Državno izborno povjerenstvo (DIP), ključno izborno tijelo, pozvalo je sve izborne sudionike da u tom razdoblju ne šalju ni promidžbene SMS-ove ili e-mailove i da ne distribuiraju letke.
</p>

<p>Prvi rezultati izbora znat će se u nedjelju od 20 sati. Naime, već od 20 sati na DIP-ovim internetskim stranicama objavit će se podaci o prvim nepotpunim i privremenim rezultatima koji će se neprestano ažurirati.</p>