<style>
    html {
        background: url(../../Assets/Images/Login.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<div class="col-lg-offset-4 col-lg-8">
    <tabset>
        <tab heading="@BikeGround.Models.Resources.Global.Login">
            @{
                Html.RenderPartial("_Login");
            }
        </tab>
        <tab heading="@BikeGround.Models.Resources.Global.Register">
            @{
                Html.RenderPartial("_Register");
            }
        </tab>
    </tabset>
</div>
